@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CeraBasic';
  src: url('/path/to/cerabasic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'CeraBasic', sans-serif; 
}
.custom-paragraph {
  font-family: 'CeraBasic', sans-serif;
}

.article-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
}
.border-card{
  border: 0 solid #e5e7eb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 5s ease-in-out; 
}